@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);

body {
  background: #d4d4d4;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

h1 {

  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 132px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 65px 0 10px;
  margin: 0; }

.doc {
  font-size: 24px;
  margin: 0; }
  // .doc:before,
  // .doc:after {
  //   opacity: .5;
  //   padding: 6px;
  //   font-size: 32px;
  //   font-style: normal;
  //   position: relative;
  //   content: "⨗"; }
.doc a {
  color: rgba(0, 0, 0, 0.3);
}
.doc a:hover {
  color: #666; }
.doc{
  p {
    margin: 3px 50px 3px 50px;
  }
}
.samples{
  text-align: justify;
  font-size: 20px;
  margin: 10px 50px 10px 50px;
  p {
    margin: 3px 50px 3px 50px;
  }
  a {
    color: rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: #666; }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  95% {
    -webkit-transform: scale(0.9);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@import "compass/css3";
img {
  width: 30%;
}
img:hover {
  -webkit-animation-name: bulge;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes bulge {
  0% {
    -webkit-transform: scale(1);
    -webkit-rotate: 0 deg;
  }
  50% {
    -webkit-transform: scale(1.1);
    -webkit-rotate: 15 deg;
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-rotate: 0 deg;
  }
}


.circle {
  width: 20vw;
  height: 20vw;
  top: 150px;
  border-radius: 50%;
}

$position: absolute;

@for $i from 1 through 5 {
  div.number#{$i} {
    position: $position;
    left: 41%;
    transform: scale($i/4);
    opacity: $i/8;
    z-index: -$i;
    animation: spinner + $i ($i/30 + 2 + s) linear 0s infinite;
  }
  @keyframes spinner#{$i} {
  0% {
    background-color: hsl(0,90%,60%);
    top: 150 - $i * 15 + px;
  }
  25% {
    background-color: hsl(90,90%,60%);
    top: 150px;
  }
  50% {
    background-color: hsl(180,90%,60%);
    top: 150 + $i * 15 + px;;
  }
  75% {
    background-color: hsl(270,90%,60%);
    top: 150px;
  }
  100% {
    background-color: hsl(0deg,90%,60%);
    top: 150 - $i * 15 + px;
  }
}
}
