---
title: Gabe Finch
---

<div class="welcome">
  <h1>Gabriel S. Finch</h1>
  <p class="doc">
    <%= link_to lorem.word, "http://middlemanapp.com/" %>
    <%= link_to lorem.word, 'http://mysite.com' %>

  </p>

  <img src= <%= lorem.image('300X400') %> >

</div>
